@import "tailwindcss";

.font-domine {
  font-family: var(--font-domine);
}

.font-gravitas {
  font-family: var(--font-gravitas);
}

.font-limelight {
  font-family: var(--font-limelight);
}

body {
  font-family: var(--font-domine);
}
